.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
generate_icon.py
**/tsconfig.json
**/jsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.md